* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 0px;
    height: 100vh;
    grid-template-columns: 280px 1fr 280px;
    grid-template-rows: 100px 150px 1fr 150px 100px; 
    grid-template-areas:
    "header header header"
    "menu main top"
    "menu main aside"
    "menu main bottom"
    "footer footer footer"
    ;
}

.container div {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #eee;
}

.header { grid-area: header;}
.menu { grid-area: menu; }
.main { grid-area: main; }
.top { grid-area: top; }
.aside { grid-area: aside; }
.bottom { grid-area: bottom; }
.footer { grid-area: footer; }